In [1]:
a = 10

In [2]:
a = "c"

In [4]:
type(a)

str

In [6]:
int("123")

123

In [9]:
print("abc")

abc

In [11]:
age = 32
print("My age is :",age )

My age is : 32

## f string

In [13]:
print(f"My age is :{age}")

My age is :32

In [14]:
type (age)

int

## format way

In [16]:
name = "atul"
age = 24
print("my name is {} and my age is {}".format(name,age))

my name is atul and my age is 24

In [17]:
name = "atul"
age = 24
print("my name is {} and my age is {}".format(age , name ))

my name is 24 and my age is atul

## markdown

In [25]:
## placeholder
name = "atul"
age = 24
print("my name is {} and my age is {}".format( name, age))

my name is atul and my age is 24

In [5]:
name = "atul patil"
age = 28
degree = "bsc"

print(" my age is {} and i have completed my degree : is {} with the name {}".format ( age,degree,name))

 my age is 28 and i have completed my degree : is bsc with the name atul patil

In [6]:
print(f"my age is {age} and i have completed : my degree is {degree} with the name {name}")

my age is 28 and i have completed : my degree is bsc with the name atul patil

## Control flow
### Decision Making Statements

## if statements

In [8]:
age = 18
if age >= 18 :
    print("you are eligible to vote")

you are eligible to vote

In [11]:
age = 18
if age <= 18 :
    print("you are eligible to vote")

you are eligible to vote

In [14]:
age = 17
if age < 18 :
    print("you are not  eligible to vote")

you are not  eligible to vote

In [15]:
name = input("enter your name")

enter your name atul

In [18]:
name

'atul patil'

In [17]:
type(name)

enter your name atul patil

str

In [19]:
age = int(input("enter your age "))

enter your age  24

In [20]:
type(age)

int

## task - 1
## take input age 
## check wether age >= 18 and age <=45
## display you are young blood

In [10]:
 age = int(input("enter your age "))
if age >= 18 and  age <= 45 :
    print("you are young blood")

enter your age  34

you are young blood

## if else statement

In [12]:
age = int(input("enter your age "))
if age >= 18 and  age <= 45 :
    print("you are young blood")
    
else:
    print("thank you we will let you know")

enter your age  56

thank you we will let you know

 ## mall = input the product price
 ## task 2 if else statement
 ## product > 1000rs 20 % off
 ## print the product price
 ##  product <= 1000 rs 30 % off
 ## print the product price

 enter the price 78

In [ ]:
product_price =int(input ( " enter the price"))
if product_price > 1000:
    print(f"the product price is {product_price*0.8}")
    
else:
    print(f"the price of the product is {product_price*0.7}")

### mall - input the product price
### product price > 3000rs 20 % of
### price is == 4000 you get a trip to goa
### print the product price after removing the discount
### product price >= 2000 rs and <= 3000rs 30% off
### print the product price after removing the discount
### price == 2999 u will get an additional gift{we should use nessetd IF}
### product 0 rs and >= 2000rs 40 % off
### print the product price after removing the discount

In [11]:
product_price =  int(input("enter the product price"))
if product_price > 3000 :
    if product_price==4000:
        print("you get a goa trip")
    print("The price of the product {}".format(product_price*0.8))
    
elif product_price >= 2000 and product_price <= 3000 :
    if product_price==2999:
        print("congratulations you get an additional gift")
    print("The price of the product{}".format(product_price*0.7))
    
else:
    print("The price of the product {}".format(product_price*0.6))

enter the product price 4000

you get a goa trip
The price of the product 3200.0

In [12]:
## comparision operator

In [2]:
product = int(input("enter the price"))
if product > 1000 :
    print("The price of the product is {}".format(product*0.8))
else:
    print("The price of the productis {}".format(product*0.7))

enter the price 89

The price of the productis 62.3

In [7]:
product = int(input("enter the price"))
if product > 1000 :
    print(F"The price of the product is {product*0.8}")
else:
    print(f"The price of the productis {product*0.7}")

enter the price 90000000

The price of the product is 72000000.0

In [ ]:
Product_price = int(input ("Enter the price"))
if Product_price > 3000:
    print("The price of the product{}".format(Product_price*0.8))
    
elif Product_price >= 2000 and Product_price <= 3000 :
    print("The price of the product {}".format(Product_price*0.7))
    
else :
    print("The price of the product{}".format(Product_price * 0.6 ))

In [13]:
### single statement suites
val =int(input("Enter the number"))
if(val<=999):print("value is less than equal to 999")
else:
    print("Go home")

Enter the number 10000

Go home